.tile {
    width: 16px;
    height: 16px;
    cursor: pointer;
    border:1px solid #fff;
    background-color: transparent;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;

    .overlay {
        width: 16px;
        height: 16px;
        background: transparent;
        border: 1px solid transparent;
        margin-top: -15px;
        margin-left: -1px;
        z-index: 1;
        position: relative;
    }

    &:hover {
        .overlay {
            background: rgba(110, 31, 206, 0.3);
            border-color: #6E1FCE;
        }
    }

    .img {
        width: 16px !important;
        height: 16px !important;
    }
}


.noborder {
    border: none;
    width: 16px;
    height: 16px;
    
    .overlay {
        margin-top: -16px;
        margin-left: 0px;
        z-index: 999;
    }
}

.mintable {
    .overlay {
        background: rgba(253, 29, 29, 0.3);
    }
}

.saleable {
    .overlay {
        background: rgba(34, 92, 252, 0.3);
    }
}

.owned {
    .overlay {
        background: rgba(25, 251, 155, 0.3);
    }
}